
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav justify-content-center mt-3">
  @if ((string)ViewData["MyOrders"] == "active")
  {
    <li class="nav-item hover shadow-lg border border-secondary">
      <a class="nav-link a-none text-white font-weight-bold active" aria-selected="true" asp-action="MyOrders" asp-controller="Order">My Orders</a>
    </li>

  }
  else
  {
    <li class="nav-item hover shadow-lg border border-secondary">
      <a class="nav-link a-none text-white font-weight-bold" aria-selected="false" asp-action="MyOrders" asp-controller="Order">My Orders</a>
    </li>
  }
  @if ((string)ViewData["StoreOrders"] == "active")
  {
    <li class="nav-item hover shadow-lg border border-secondary">
      <a class="nav-link a-none text-white font-weight-bold active" aria-selected="false" asp-action="StoreOrders" asp-controller="Order">Store Orders</a>
    </li>
  }
  else
  {
    <li class="nav-item hover shadow-lg border border-secondary">
      <a class="nav-link a-none text-white font-weight-bold" aria-selected="false" asp-action="StoreOrders" asp-controller="Order">Store Orders</a>
    </li>
  }
  @if ((string)ViewData["CustomerOrders"] == "active")
  {
    <li class="nav-item hover shadow-lg border border-secondary">
      <a class="nav-link a-none text-white font-weight-bold active" aria-selected="false" asp-action="CustomerOrders" asp-controller="Order">Customer Orders</a>
    </li>
  }
  else
  {
    <li class="nav-item hover shadow-lg border border-secondary">
      <a class="nav-link a-none text-white font-weight-bold" aria-selected="false" asp-action="CustomerOrders" asp-controller="Order">Customer Orders</a>
    </li>
  }
</ul>

@RenderBody()

<style>
  .active {
    border: 1px solid #28a745 !important;
  }
</style>
